header.header
        .container
            .header-body
                nav.nav
                    a(href="#").nav__item
                        input(type="date")#date-input
                    a(href="#").nav__item Current Week
                    .nav__item 
                        .nav__logo
                            img(src=require("../../assets/images/profile-icon.svg"), alt="")
                            

