-var taskCount = 5;
main.hero
    .container
        .hero__body
            .week-card
                .week-card__header Month: 14/05 - 21/05
                .week-card__days-line.days-line
                    .days-line__days
                        .days-line__day M
                        .days-line__day T
                        .days-line__day W
                        .days-line__day T
                        .days-line__day F
                        .days-line__day S
                        .days-line__day S
                    .days-line__text Running List
                .week-card__tasks.tasks
                    - for (var i=0; i<5; i++)
                        .tasks__task.task
                            .task.marker-task
                                .marker-task__marker 
                                .marker-task__marker 
                                .marker-task__marker 
                                .marker-task__marker 
                                .marker-task__marker 
                                .marker-task__marker 
                                .marker-task__marker 
                            .task__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. 



