-var taskCount = 5;
main.hero
    .container
        .hero__body
            .week-card
                .week-card__header.section-header
                    Month: 14/05 - 21/05
                .week-card__days-line.days-line
                    .days-line__days
                        .days-line__day(data-day="Monday" data-date) M
                        .days-line__day(data-day="Tuesday" data-date) T
                        .days-line__day(data-day="Wednesday" data-date) W
                        .days-line__day(data-day="Thursday" data-date) T
                        .days-line__day(data-day="Friday" data-date) F
                        .days-line__day(data-day="Saturday" data-date) S
                        .days-line__day(data-day="Sunday" data-date) S
                    .days-line__text Running List
                .week-card__tasks.tasks
                    - for (var i=0; i<4; i++)
                        .tasks__task.task
                            .task__marker: .task__marker-placeholder
                            .task__marker: .task__marker-placeholder 
                            .task__marker: .task__marker-placeholder 
                            .task__marker: .task__marker-placeholder 
                            .task__marker: .task__marker-placeholder 
                            .task__marker: .task__marker-placeholder 
                            .task__marker: .task__marker-placeholder 
                            input(type="text" placeholder="Task").task__text
                include weekRewiew


