.week-rewiew 
    .week-rewiew__header.section-header Week Review
    .week-rewiew__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium imperdiet magna ultrices tristique. Nullam viverra rhoncus tincidunt. Morbi turpis odio, ultrices sit amet tristique sit amet, facilisis sed elit. Nunc quis erat tempus, tempor purus sit amet, mollis tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer nulla mauris, fringilla et aliquet ac, maximus sit amet nulla. Curabitur pellentesque nec neque rutrum interdum. Fusce bibendum ligula dolor. Curabitur ut mi risus. Quisque vitae lacus at sapien aliquam auctor quis volutpat mi. Etiam non elit in velit molestie ullamcorper sed at turpis. Ut malesuada in.
