.week-rewiew 
    //- input(type="date")
    .week-rewiew__header
        .header-text.section-header Week Review
        .task__buttons-wrapper
            .task__buttons
                button.task__button.task__button-done Done
                button.task__button.task__button-cancel Cancel
    textarea.week-rewiew__text 

