.footer{
    display: flex;
    padding: 13px;
    border-top: 1px solid rgba(144, 144, 144, 0.5);
    font-size: 1rem;
    &__text{
        font-size: 0.75rem;
        width: 100%;
        text-align: center;
    }

}