.hero {

    // .hero__body

    &__body {
        background-color: #fff;
        height: 731px;
    }
}

.week-card {
    padding-top: 52px;
    padding-left: 125px;
    padding-right: 125px;
    // .week-card__header

    &__header {
        span{
            margin-left: 15px;
        }
    }

    // .week-card__days-line

    &__days-line {}

    // .week-card__tasks

    &__tasks {}
}

.days-line {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    // .days-line__days

    &__days {
        display: flex;
        margin-right: 30px;
    }

    // .days-line__day

    &__day {
        width: 29px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.125rem;
        font-family: $ff-semi-bold;
    }

    &__text {}
}

.tasks {
    margin-bottom: 130px;
}

// .tasks__marker
.task {
    display: flex;
    align-items: center;

    &:not(:first-child) {
        margin-top: -1px;
    }

    &__text {}

    &__marker {}
}

.marker-task {
    margin-right: 30px;
    display: flex;


    &__marker {
        width: 30px;
        height: 30px;
        border: 1px solid #CCCCCC;
        position: relative;

        &-placeholder {
            background-image: url("../assets/icons/Added.svg");
            opacity: .4;
            position: absolute;
            width: 30px;
            height: 30px;
            top: -1px;
            left: -1px;
            display: none;
            z-index: 10;
        }

        &:not(:first-child) {
            margin-left: -1px;
        }

        &:hover {
            .marker-task__marker-placeholder {
                display: block;
            }
        }

        // &::after{
        //     content: "";
        //     background-image: url("../assets/icons/Done.svg");
        //     opacity: .4;
        //     display: block;
        //     position: absolute;
        //     width: 30px;
        //     height: 30px;
        //     top: -1px;
        //     left: -1px;
        //     display: none;
        //     z-index: 10;
        // }


    }
}