.hero {

    // .hero__body

    &__body {
        display: block;

        background-color: #fff;
        padding-top: 52px;
        padding-left: 125px;
        padding-right: 125px;
    }
}

.week-card {

    // .week-card__header

    &__header {
        span {
            margin-left: 15px;
        }
    }

    // .week-card__days-line

    &__days-line {}

    // .week-card__tasks

    &__tasks {}
}

.days-line {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    // .days-line__days

    &__days {
        display: flex;
        margin-right: 30px;
    }

    // .days-line__day

    &__day {
        width: 29px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.125rem;
        font-family: $ff-semi-bold;
    }

    &__text {}
}

.tasks {
    position: relative;
    margin-bottom: 130px;



    &__task {
        display: flex;
        align-items: center;

        &:not(:first-child) {
            margin-top: -1px;
        }
    }

    &__hover {
        display: flex;
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        opacity: 0;
        // visibility: hidden;
    }
}

.task {
    &__label {
        margin-left: 30px;
        width: auto;

    }

    &__marker {
        width: 30px;
        height: 30px;
        border: 1px solid #CECECE;
        position: relative;

        &-placeholder {
            background-image: url("../assets/icons/Added.svg");
            opacity: .4;
            position: absolute;
            width: 30px;
            height: 30px;
            top: -1px;
            left: -1px;
            display: none;
            z-index: 10;
        }

        &:not(:first-child) {
            margin-left: -1px;
        }

        &:hover {
            .task__marker-placeholder {
                display: block;
            }
        }
    }

    &__buttons {
        &-wrapper {
            margin-left: 26px;
            display: none;
        }
    }

    &__button {
        &:not(:last-child) {
            margin-right: 8px;
        }
    }

}

.tasks__hover:hover {
    opacity: 1;

}

.more-box {

    &_toggle {
        visibility: visible;
        transform: scale(1);
    }

    transition: transform .1s ease;
    transform: scale(0);
    position: absolute;

    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    width: 45px;
    padding: 7px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 6px;
    background: rgba(52, 120, 246, 0.60);
    backdrop-filter: blur(2px);

    &__image {
        cursor: pointer;
    }
}