// Fonts ------
$ff-regular: 'Montserrat-regular';
$ff-bold: 'Montserrat-bold';
$ff-semi-bold: 'Montserrat-semi-bold';
$ff-light: 'Montserrat-light';

$font-size: 18px;

// Colors ------
$main-color: #000000;
$cancel-color: rgb(76, 76, 76);

// Width -----
$maxWidth: 1440px;
$maxWidthContainer: 1196px;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
