// Fonts ------
$ff-regular: 'Montserrat-regular';
$ff-bold: 'Montserrat-bold';
$ff-semi-bold: 'Montserrat-semi-bold';
$ff-light: 'Montserrat-light';

$font-size: 18px;

// Colors ------
$main-color: #000000;

// Width -----
$md1: 1196;
